// fonts
.fp {font-family: 'Arial',sans-serif;} // font primary
.fh {font-family: 'Arial',sans-serif;} // font header
.fi {font-family: 'rnb-fonts',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@yellow: #ffdc7d;
@cp: #5a605e; // color primary
@cl: #3c5a99; // color link
.text-blue {color: @cl;}

// font sizes
@fsp: 15px; // font size primary
@fsh1: 24px; // font size h1
@fsh2: 20px; // font size h2
@fsh3: 16px; // font size h3
@fsh4: 15px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1000px;
@content-padding: 20px;